/* css styles */

/* right-hand table of contents */
.sidebar nav[role="doc-toc"] ul > li > a {
    color: grey !important;
}

/* highlighting currently active entry */
.sidebar nav[role="doc-toc"] ul > li > a.active {
    font-weight: bold;
    background-color: #f3fae9;
}

b,strong {
  font-weight: bold;
  color: black;
}

.nav-link{
    color:white !important;
}

.navbar{
  text-color: white;
  background-image: linear-gradient(to right,white,#0087af,#18a603);
}

.navbar-logo {
  width: auto;
  align-items: baseline;
}